/* universal styles */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html {
    font-size: 16px;
    background-color: #000;
}


/* font-family: 'Chivo', sans-serif; */
/* #F3E4DB */

nav {
    width: 100%;
    background-color: #000;
    height: 2rem;
    padding: 1rem;
    position: fixed;
    top: 0;
    z-index: 1;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    width: 90%;
    position: relative;
    right: 3%;
}

.nav-wrapper ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1.5625rem;
}

.nav-link {
    color: #F3E4DB;
    text-decoration: none;
}

.nav-link:hover {
    color: #000;
    background-color: #F3E4DB;
    padding: 0.5rem 0.75rem;
}
.contact {
    color: #000;
    background-color: #F3E4DB;
    border-radius: 1.5rem;
    padding: 0.5rem 0.75rem;
}

nav h2 {
    font-size: 1.2rem;
    color: #F3E4DB;
}

nav .logo-small {
    display: none;
}

nav ul li {
    list-style: none;
}

/* nav tablet */
@media only screen and (max-width: 768px) {
    nav {
        padding-top: 2rem;
    }

    .nav-wrapper {
        right: 4.5%;
    }

    .list {
        display: none;
    }
}

/* mobile nav */
@media only screen and (max-width: 480px) {
    .nav-wrapper {
        width: 95%;
        position: relative;
        right: 3%;
    }

    nav .logo {
        display: none;
    }

    nav .logo-small {
        display: block;
        font-size: 1.5rem;
    }

    .list {
    display: none;
    }
    
    .contact {
        font-size: 1rem;
        padding: 0.5rem;
        margin-right: 0.5rem;
    }
}


header {
    font-family: 'Roboto', sans-serif;
    width: 70%;
    margin: 0 auto;
    height: 50rem;
    position: relative;
    top: 3rem;
}

#container {
    position: relative;
    top: 20%;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.intro h1 {
    font-size: 6.25rem;
    color: #F3E4DB;
}

.intro img {
    height: 7.5rem;
    width: 7.5rem;
    border-radius: 50%;
}

#container p {
    font-size: 1.7rem;
    padding-top: 2.5rem;
    color: #F3E4DB;
    line-height: 1.5;
}

/* header tablet */
@media only screen and (max-width: 768px) {
    .intro h1 {
       font-size: 3.125rem; 
    }

    .intro .text-img {
        display: none;
    }
}

/* header mobile */
@media only screen and (max-width: 480px) {
    header {
        max-width: 100%;
        height: 31.25rem;
        padding-bottom: 4rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .intro h1 {
        font-size: 2.2rem;
    }

    .intro .text-img {
        display: none;
    }

    #container {
        top: 27%;
    }

    #container p {
        font-size: 1rem;
    }
}


#projects {
    position: relative;
    top: 3rem;
    padding: 4rem 0 4rem 4rem;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
}

#projects h2 {
    font-size: 2rem;
    margin: 0 0 1rem 0;
    color: #000;
}

#projects ul {
    list-style-type: square;
}

#projects ul li {
    font-weight: 500;
    font-size: 1.2rem;
    margin: 1rem 0;
    color: #000;
}

#projects ul li:hover {
    cursor: pointer;
}

#projects .img-holder {
    height: 18.75rem;
    width: 37.5rem;
    overflow: hidden;
}

#projects .img-holder {
    display: none;
}

.img-holder img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* projects tablet */
@media only screen and (max-width: 768px) {
    #projects .img-holder {
        width: 18.75rem;
        height: 9.375rem; 
     }
}

/* projects mobile */
@media only screen and (max-width: 480px) {
    #projects {
        padding: 4rem 0 4rem 2rem;
    }
    
    #projects .img-holder {
       width: 15.625rem;
       height: 7.8125rem; 
    }
}

#skills {
    position: relative;
    top: 3rem;
    padding: 4rem 0 0 4rem;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 4rem;
}

#skills h2 {
    font-size: 2rem;
    margin: 0 0 1rem 0;
    color: #F3E4DB;
}

#skills .skills-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0 2.5rem;
    padding-top: 2.5rem;
}

/* skills mobile */
@media only screen and (max-width: 480px) {
    #skills {
        padding: 4rem 0 0 2rem;
    }

    #skills .skills-wrapper {
        flex-wrap: wrap;
        gap: 2.5rem;
    }
}

footer {
    padding: 2rem 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    position: relative;
    top: 3rem;
}

footer p {
    color: #F3E4DB;
}

footer p span {
    color: red;
}