/* universal styles */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html {
    font-size: 16px;
}


/* font-family: 'Chivo', sans-serif; */


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 1rem 1.875rem; */
    font-family: 'Roboto', sans-serif;
    width: 90%;
    position: fixed;
    top: 1rem;
    left: 4%;
    z-index: 1;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1.5625rem;
}

nav ul li {
    list-style: none;
}

header {
    font-family: 'Roboto', sans-serif;
    width: 70%;
    margin: 0 auto;
    position: relative;
    top: 23rem;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.intro h1 {
    font-size: 6.25rem;
}

.intro img {
    height: 9.375rem;
    width: 9.375rem;
    border-radius: 50%;
}